@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

body {
    font-family: 'Poppins', sans-serif;
}


@layer utilities {
    .mask-horizontal {
      @apply [mask-image:linear-gradient(to_right,rgba(0,0,0,0)_0%,rgba(0,0,0,1)_20%,rgba(0,0,0,1)_80%,rgba(0,0,0,0)_100%)];
      @apply [mask-size:cover] [mask-repeat:no-repeat];
    }
  
    .mask-vertical {
      @apply [mask-image:linear-gradient(to_bottom,rgba(0,0,0,0)_0%,rgba(0,0,0,1)_20%,rgba(0,0,0,1)_80%,rgba(0,0,0,0)_100%)];
      @apply [mask-size:cover] [mask-repeat:no-repeat];
    }
  
    .paused .animate-scrollX,
    .paused .animate-scrollY {
      animation-play-state: paused !important;
    }
  
    .reverse-x {
      animation-direction: reverse;
      animation-delay: -3s;
    }
  }


  